.navbar{
    box-shadow: 0 1px 3px -2px black;
}
.nav-login-cart button:active{
    background: #f3f3f3;
}
.Hero{
    background: linear-gradient(180deg, #fde1ff , #e1ffea22 60%);
}
.bg{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}